<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Botview</title>
	<link rel="icon" href="images/icon.png" />
	<link rel="stylesheet" href="css/shared.css" />
	<link rel="stylesheet" href="css/botview.css" />
	<script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
</head>

<body>
	<h1>Botview</h1>
	<div id="price-chart"></div>
	<div id="rsi-chart"></div>

	<script type="module" src="js/charter.js"></script>
	<script type="module" src="js/dataListener.js"></script>
</body>
</html>